td {
  text-align: center;
  width: 40pt;
  height: 30pt;
}

table {
  margin-bottom: 30pt;
}

p {
  margin-bottom: 0pt;
  font-weight: bold;
  font-size: 12pt;
}

input {
  margin-bottom: 30pt;
  display: inline-block;
  width: 100%;
}

textarea {
  margin-bottom: 30pt;
  height: 150pt;
}

h2 {
  text-align: center;
  font-size: 18pt;
}

.link {
  color: white;

}

.able:hover {
  cursor: pointer;
  background-color: lightgrey;
  opacity: 0.5;
}

.btn {
  font-size: 16pt;
}

.selected {
  background-color: rgba(65, 105, 255, 0.4);
}

.display-none {
  display: none;
}

.disable {
  opacity: 0.5;
}

.Sun {
  color: red;
}

.Sat {
  color: blue;
}

#top-container {
  display: inline-block;
}

@media (max-width: 500px) {
  #top-container {
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
  }
}

@media (min-width: 500px) {
  #top-container {
    padding-left: 50px;
  }
}

#current-month {
  display: inline-block;
  width: 80pt;
}

#input-title {
  margin-top: 50pt;
  font-size: 24pt;
}